.header {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-top: 10px;

    h4 {
        color: white;
        padding: 5px 10px;
        width: max-content;
        background: crimson;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 75%, 50% 90%, 40% 75%, 0% 75%);
        

        p {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 1em;
            letter-spacing: -1px;
        }
    }
}



.card {
    margin: 5px 0;
    border-radius: 7px;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            cursor: pointer;
        }

    .imgbox {
        display: flex;
        justify-content: center;
            
        img {
            max-height: 150px;
            object-fit: contain;
            border-radius: 16px;
            }
    }

    .cardtext {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0;
            
            button {
                font-weight: 600;
                border: none;
                background: orange;
                display: flex;
                align-items: center;
                border-radius: 6px;
                padding: 5px 10px;
                color: white;

                i {
                    margin-right: 5px;
                }
            }

            h4 {
                font-weight: 500;
                font-size: 1em;
            }
        }
}
