.header {

    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 16px;
    padding: 10px 0;


    .input {
    

        input {
            font-size: 1.2em;
            margin: 10px 0;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 6px;
            text-indent: 15px;
            background-color: transparent;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
            &:focus {
                outline: none;
            }
        }
    }
    
    .button {
        
    
        button {
            text-transform: uppercase;
            font-size: 1em;
            margin: 10px 0;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 6px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
    }
}

.section {
    padding: 0;
    margin: 10px 0;

    table {
        width: 100%;
        

        thead {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            
            th {
                font-size: 1.2em;
                font-weight: 600;
                text-transform: uppercase;
                
                text-align: center;
                padding: 10px 0;
            }
        }

        tbody {


            tr {
                cursor: pointer;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
                transition: all, .5s all;

                td {
                    text-align: center;
                    font-size: 1.1em;
                    text-transform: uppercase;
                    font-weight: 500;

                    img {
                        margin: 5px;
                        width: 5em;
                    }
                }

                &:hover {
                    width: calc(100% - 16px);
                    transform: translate(8px);
                    transition: all, .5s all
                }
            }
        }
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    

    button {
        padding: 5px 15px;
        border: none;
        outline: none;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }
    }
}