
.imgbox {
    padding: 0;
    display: flex;
    justify-content: center;

    img {
        width: 99%;
        border-radius: 6px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    }

.cardtext {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

    button {
        color: white;
        padding: 8px 40px;
        font-size: 1em;
        font-weight: 600;
        background: none;
        border-radius: 8px;
        margin: 10px 20px 0px 0px;
        border: none;
        background: #4298b5;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        i {
            margin: 0 3px;
        }
    }

    h2 {
        font-size: 1.8em;
        font-weight: 600;
        margin: 3px 20px 5px 0px;
        text-shadow: 0 1px 0 #ccc, 
                    0 2px 0 #c9c9c9,
                    0 3px 0 #bbb,
                    0 4px 0 #b9b9b9,
                    0 5px 0 #aaa,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);
        }

    h4 {
        font-size: 1.2em;
        font-weight: 500;
        margin: 5px 20px 5px 0px;
    }

    h5 {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 500;
        margin: 10px 20px 5px 0px;
        i {
        font-size: 1.2em;
        margin: 0 5px;
        }
    }

    h6 {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 400;
        margin: 10px 20px 5px 0px;
        i {
            color: green;
            font-size: 1em;
            margin: 0 5px;
        }
    }

    p {
        font-size: 1em;
        text-align: justify;
        margin: 3px 5px;

        &::first-letter {
            font-size: 1.5em;
            color: crimson;
        }
    }
}


.productions {
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

    table {
        width: 100%;
        

        tr {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            th {
                
                color: white;
                background: #4298b5;
                padding: 10px;
                font-size: 1.2em;
                font-weight: 500; 
                text-align: center;
            }

            td {
                font-size: 1.2em;
                padding: 8px 0;
                text-align: center;

                img {
                    max-width: 30px;
                }

            
            }
        }
    }
}

.Conclution {
    padding: 10px 0;
    align-items: center;
    margin: 30px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    a {
        color: black;
    }
}