.header {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-top: 10px;

    h4 {
        color: white;
        padding: 5px 10px;
        width: max-content;
        background: crimson;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 75%, 50% 90%, 40% 75%, 0% 75%);
        

        p {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 1em;
            letter-spacing: -1px;
        }
    }
}



.card {
    display: flex;
    margin: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .imgbox {
        width: 25%;
        background-color: blue;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .cardtext {
        width: 75%;
        display: flex;
        align-items: center;

        h4 {
            margin-left: 15px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1em;
        }
    }
}
