.header {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-top: 10px;

    h4 {
        color: white;
        padding: 5px 10px;
        width: max-content;
        background: crimson;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 75%, 50% 90%, 40% 75%, 0% 75%);
        

        p {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 1em;
            letter-spacing: -1px;
        }
    }
}




.imgbox {
    


    img{
        max-height: 250px;
        object-fit: contain;
        border-radius: 6px;
        
        box-shadow: 0 5px 15px;
        margin: 10px 0;
        }
}
